Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*

compose
  backend-report/.gitlab-ci.yml
Due: none

compose
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
Due: none

compose
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  compose_back_deploy.sh
  compose_front_deploy.sh
  compose_rep_deploy.sh
Due: backend

compose
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

compose
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

front ci
  frontend/.gitlab-ci.yml
Due: frontend

compose
  compose_back_deploy.sh
  compose_front_deploy.sh
  frontend/.gitlab-ci.yml
Due: frontend

compose
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

compose
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend-report/pom.xml
  frontend/.gitlab-ci.yml
Due: frontend

compose
  backend-report/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

compose
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  frontend/.gitlab-ci.yml
Due: frontend

compose
  frontend/.gitlab-ci.yml
Due: frontend

compose
  backend-report/.gitlab-ci.yml
  compose_rep_deploy.sh
Due: none

report.sh
  compose_rep_deploy.sh
Due: none

hmmm
  frontend/.gitlab-ci.yml
Due: frontend

hhmmm
  frontend/.gitlab-ci.yml
Due: frontend

check Cannot connect to the Docker daemon at unix
  frontend/.gitlab-ci.yml
Due: frontend
