Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

deploy.sh and service file was added
  backend/deploy.sh
  backend/sausage-store-backend
Due: backend

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

sausage-store.service was added
  backend/sausage-store.service
Due: backend

sausage-store-backend.service was added
  backend/sausage-store-backend.service
Due: backend

Delete sausage-store.service
  backend/sausage-store.service
Due: backend

Delete sausage-store-backend
  backend/sausage-store-backend
Due: backend

backend/.gitlab-ci.yml was modified
  backend/.gitlab-ci.yml
Due: backend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend
