Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

backend deploy.sh was changed
  backend/deploy.sh
Due: backend

back deploy.sh user was changed to student
  backend/deploy.sh
Due: backend

again
  backend/sausage-store-backend.service
Due: backend

Update sausage-store-backend.service
  backend/sausage-store-backend.service
Due: backend

frontend/deploy.sh and frontend/sausage-store-frontend.service were added
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: frontend

front last changes
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: frontend

back 3 files, front 2 were changed
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
  frontend/.gitlab-ci.yml
  frontend/sausage-store-frontend.service
Due: frontend, backend

aaaand once again
  backend/deploy.sh
  backend/sausage-store-backend.service
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: frontend, backend

aaaand once again
  backend/deploy.sh
  frontend/deploy.sh
Due: frontend, backend

aaaand once again
  backend/sausage-store-backend.service
  frontend/sausage-store-frontend.service
Due: frontend, backend
