Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*

lb
  frontend/Dockerfile
Due: frontend

as builder
  frontend/Dockerfile
Due: frontend

lb
  compose_front_deploy.sh
Due: none

lb
  frontend/.gitlab-ci.yml
Due: frontend

lb
  compose_front_deploy.sh
  docker-compose.yml
Due: none

lb
  compose_front_deploy.sh
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

lb
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

lb
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

lb
  docker-compose.yml
Due: none

lb
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

back
  backend/.gitlab-ci.yml
  backend/Dockerfile
Due: backend

lb
  backend/.gitlab-ci.yml
  backend/Dockerfile
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/nginx.tmpl
Due: frontend, backend

lb
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/nginx.tmpl
Due: frontend, backend

lb
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend/.gitlab-ci.yml
  backend/Dockerfile
Due: backend

report ci changed
  backend-report/.gitlab-ci.yml
Due: none

almost final
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/.gitlab-ci.yml
  infra.txt
Due: frontend, backend

front deploy
  compose_front_deploy.sh
Due: none

lb vault
  .gitignore
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/Dockerfile
  vault/deploy_vault.sh
Due: frontend, backend

depends on
  docker-compose.yml
Due: none

vault
  backend/.gitlab-ci.yml
  compose_vault_deploy.sh
Due: backend

gitignore
  .gitignore
Due: none

sh
  compose_vault_deploy.sh
Due: none

made exec
  compose_back_deploy.sh
  compose_front_deploy.sh
  compose_rep_deploy.sh
  compose_vault_deploy.sh
Due: none

lb
  backend/.gitlab-ci.yml
Due: backend

infra.txt
  infra.txt
Due: none

8.3
  .gitignore
  backend/pom.xml
Due: backend

8.3
  backend/.gitlab-ci.yml
  compose_back_deploy.sh
  compose_vault_deploy.sh
  docker-compose.yml
Due: backend

8.3
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend
