Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

Update backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update backend/src/test/resources/application.properties, backend/.gitlab-ci.yml files
  backend/.gitlab-ci.yml
  backend/src/test/resources/application.properties
Due: backend

sql users were added
  chapter6/ha_cluster/main.tf
  chapter6/main.tf
Due: none

Update backend/src/main/resources/db/migration/V03_create_users.sql, backend/src/test/resources/application.properties, backend/src/main/resources/db/migration/V02_update_table_product.sql files
  backend/src/main/resources/db/migration/V02_update_table_product.sql
  backend/src/main/resources/db/migration/V03_create_users.sql
  backend/src/test/resources/application.properties
Due: backend

Update backend/src/main/resources/db/migration/R__grant_access.sql, backend/src/main/resources/application.properties files Deleted backend/src/main/resources/db/migration/V03__create_users.sql
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/R__grant_access.sql
  backend/src/main/resources/db/migration/V03__create_users.sql
Due: backend

Update backend/sausage-store-backend.service
  backend/sausage-store-backend.service
Due: backend

Update backend/deploy.sh, backend/sausage-store-backend.service files
  backend/deploy.sh
  backend/sausage-store-backend.service
Due: backend

last flyway changes
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

ansible - secret.tfvar
  ansible/.ansible_vault_pass
  terraform/secret.tfvars
Due: none

gitignore
  .gitignore
Due: none

removed .orig files
  backend/.gitlab-ci.yml.orig
  backend/sausage-store-backend.service.orig
  backend/src/main/resources/application.properties.orig
  backend/src/test/resources/application.properties.orig
Due: backend

orig files removed
  .gitlab-ci.yml.orig
  backend/.gitlab-ci.yml.orig
  backend/sausage-store-backend.service.orig
  backend/src/main/resources/application.properties.orig
  backend/src/test/resources/application.properties.orig
Due: backend

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
Due: backend

Update backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: backend

Update backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java, backend/.gitlab-ci.yml, backend/sausage-store-backend.service files
  backend/.gitlab-ci.yml
  backend/sausage-store-backend.service
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: backend

docker back front
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

env file was added
  backend/.env
Due: backend

pwd ls
  backend/Dockerfile
Due: backend

pwd again
  backend/Dockerfile
Due: backend

dockerfile fixing
  backend/Dockerfile
Due: backend

back-env back-dockerfile back-pom.xml
  backend/.env
  backend/Dockerfile
  backend/pom.xml
Due: backend

localhost
  frontend/Dockerfile
Due: frontend

ext ip
  frontend/Dockerfile
Due: frontend

local ip
  frontend/Dockerfile
Due: frontend

node-14-17-3
  frontend/Dockerfile
Due: frontend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
