Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*

host psql
  compose_vault_deploy.sh
Due: none

8.3
  docker-compose.yml
Due: none

infra
  infra.txt
Due: none

health.sh
  health.sh
Due: none

8.3
  docker-compose.yml
  health.sh
Due: none

health
  backend/.gitlab-ci.yml
  health.sh
Due: backend

health
  health.sh
Due: none

health
  backend/.gitlab-ci.yml
Due: backend

9-2
  kubernetes/backend/configmap.yml
  kubernetes/backend/deployment.yml
  kubernetes/backend/secrets.yml
  kubernetes/backend/service.yml
Due: none

9-2
  kubernetes/backend/secrets.yml
  kubernetes/frontend/configmap.yml
Due: none

9-2
  kubernetes/backend/secrets.yml
Due: none

9-2
  kubernetes/backend/deployment.yml
Due: none

8.2
  .gitlab-ci.yml
  kubernetes/.gitlab-ci.yml
  kubernetes/backend/deployment.yml
Due: none

some fix
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
Due: backend

devvault
  docker-compose.yml
Due: none

9-2
  kubernetes/backend/deployment.yml
  kubernetes/backend/secrets.yml
Due: none

9-2
  backend/src/main/resources/application.properties
Due: backend

9-2
  backend/.gitlab-ci.yml
Due: backend

9-2
  kubernetes/frontend/configmap.yml
  kubernetes/frontend/service.yml
Due: none

9-2
  kubernetes/backend/deployment.yml
  kubernetes/frontend/configmap.yml
  kubernetes/frontend/deployment.yml
  kubernetes/frontend/ingress.yml
Due: none

9-2
  kubernetes/frontend/deployment.yml
Due: none

9-2
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

9-2
  frontend/.gitlab-ci.yml
Due: frontend

9-2
  kubernetes/frontend/configmap.yml
  kubernetes/frontend/deployment.yml
Due: none

9-2
  kubernetes/backend/deployment.yml
  kubernetes/frontend/ingress.yml
Due: none

9-2
  kubernetes/frontend/ingress.yml
Due: none
