Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*

Update frontend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Update backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

deleted files
  terraform/main.tf
  terraform/meta.txt
  terraform/provider.tf
  terraform/variables.tf
Due: none

Update terraform/main.tf, terraform/meta.txt, terraform/variables.tf, terraform/provider.tf files
  terraform/main.tf
  terraform/meta.txt
  terraform/provider.tf
  terraform/variables.tf
Due: none

Update terraform/main.tf, terraform/meta.txt, terraform/provider.tf, terraform/variables.tf files
  terraform/main.tf
  terraform/meta.txt
  terraform/provider.tf
  terraform/variables.tf
Due: none

applied changes review after
  terraform/main.tf
  terraform/meta.txt
  terraform/output_ip.tf
  terraform/provider.tf
  terraform/resource.tf
  terraform/secret.tfvars
  terraform/variables.tf
Due: none

modified: terraform/provider.tf modified: terraform/variables.tf
  terraform/provider.tf
  terraform/variables.tf
Due: none

provider.tf /resource.tf variables.tf were modified
  terraform/provider.tf
  terraform/resource.tf
  terraform/variables.tf
Due: none

provider.tf variables.tf were modified
  terraform/provider.tf
  terraform/variables.tf
Due: none

meta.txt variables.tf
  terraform/meta.txt
  terraform/variables.tf
Due: none

resource.tf variables.tf were changed
  terraform/resource.tf
  terraform/variables.tf
Due: none

s3 backend was added
  terraform/backend.tf
  terraform/resource.tf
  terraform/variables.tf
Due: none

ansible folder was added
  ansible/ansible.cfg
  ansible/config-vm.yml
  ansible/inventory
  terraform/meta.txt
Due: none

tfvars removed
  .gitignore
Due: none

gitignore was changed
  .gitignore
  terraform/secret.tfvars
Due: none

turned back secret.tfvars
  .gitignore
Due: none

backend.conf was added
  .gitignore
  terraform/backend.tf
  terraform/secret.tfvars
  terraform/variables.tf
Due: none

...
  terraform/secret.tfvars
Due: none

some changes in variables
  terraform/variables.tf
Due: none

evrything new
  .gitignore
  ansible/ansible.cfg
  ansible/config-vm.yml
  ansible/inventory
  ansible/my_roles/sausage_store/tasks/1
  ansible/my_roles/sausage_store/tasks/main.yml
  ansible/my_roles/sausage_store/vars/plain.yml
  ansible/my_roles/sausage_store/vars/vars.yml
  backend/sausage-store-backend.service
  terraform/backend.conf
  terraform/resource.tf
Due: backend

ansible last changes
  ansible/my_roles/sausage_store/tasks/main.yml
Due: none

last changes
  ansible/my_roles/sausage_store/tasks/1
Due: none

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

chapter 6 was added
  chapter6/insert-data.sh
  chapter6/main.tf
Due: none

db connection
  backend/src/test/resources/application.properties
Due: backend

Update application.properties
  backend/src/main/resources/application.properties
Due: backend

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update deploy.sh
  backend/deploy.sh
Due: backend

app.properties
  backend/src/test/resources/application.properties
Due: backend

Update backend/pom.xml, backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java files
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
Due: backend

Update Product.java
  backend/src/main/java/com/yandex/practicum/devops/model/Product.java
Due: backend
