Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

Update sausage-store-backend.service
  backend/sausage-store-backend.service
Due: backend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Update sausage-store-frontend.service
  frontend/sausage-store-frontend.service
Due: frontend

Update frontend/sausage-store-frontend.service, frontend/.gitlab-ci.yml files
  frontend/.gitlab-ci.yml
  frontend/sausage-store-frontend.service
Due: frontend

Update backend/sausage-store-backend.service, backend/.gitlab-ci.yml files
  backend/.gitlab-ci.yml
  backend/sausage-store-backend.service
Due: backend

Update backend/.gitlab-ci.yml, frontend/.gitlab-ci.yml files
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update frontend/.gitlab-ci.yml, backend/.gitlab-ci.yml files
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

environments were added to dev
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

nothing special
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

...
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Update backend/sausage-store-backend.service, backend/deploy.sh, backend/.gitlab-ci.yml, .gitlab-ci.yml files
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
Due: backend

Update backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update backend/sausage-store-backend.service
  backend/sausage-store-backend.service
Due: backend

Update infra.txt
  infra.txt
Due: none

terraform files and gitignore file were added
  .gitignore
  terraform/main.tf
  terraform/meta.txt
Due: none

provider.tf and variables.tf were added
  terraform/main.tf
  terraform/provider.tf
  terraform/variables.tf
Due: none

final version provider.tf variables.tf
  terraform/provider.tf
  terraform/variables.tf
Due: none

.gitignore
  .gitignore
Due: none

.gitignore corrected
  .gitignore
  terraform/.terraform.lock.hcl
Due: none

terraform files were added
  terraform/main.tf
  terraform/meta.txt
  terraform/provider.tf
  terraform/variables.tf
Due: none

panic
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
  infra.txt
Due: backend

Update frontend/.gitlab-ci.yml, frontend/sausage-store-frontend.service files
  frontend/.gitlab-ci.yml
  frontend/sausage-store-frontend.service
Due: frontend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
