Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

enviroment production was added
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

enviroment production-backend was added
  backend/.gitlab-ci.yml
Due: backend

env added
  backend/.gitlab-ci.yml
Due: backend

environment it was
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

env
  frontend/.gitlab-ci.yml
Due: frontend

Update .gitlab-ci.yml, backend/.gitlab-ci.yml files
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
