Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*

.env edited
  backend/.env
Due: backend

backend_deploy.sh app.prop changed
  backend/backend_deploy.sh
  backend/src/main/resources/application.properties
Due: backend

.env deleted
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
Due: backend

env fight
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  backend/src/main/resources/application.properties
Due: backend

env
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
Due: backend

env
  backend/.env
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  backend/src/main/resources/application.properties
Due: backend

vault.sh
  vault/deploy_vault.sh
Due: none

deploy_vault
  vault/deploy_vault.sh
Due: none

deploy vault sh
  vault/deploy_vault.sh
Due: none

whoohooo compose
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/back_rep_compose_deploy.sh
  backend/.env
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  docker-compose.yml
  front_compose_deploy.sh
Due: backend

whooohooo compose
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  compose_back_deploy.sh
  compose_front_deploy.sh
  compose_rep_deploy.sh
  frontend/.gitlab-ci.yml
Due: frontend, backend

whooohooo compose
  backend-report/.gitlab-ci.yml
Due: none

whooohooo compose
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

pwd
  frontend/.gitlab-ci.yml
Due: frontend

hmm
  frontend/.gitlab-ci.yml
Due: frontend

compose
  compose_back_deploy.sh
  compose_front_deploy.sh
  compose_rep_deploy.sh
  frontend/.gitlab-ci.yml
Due: frontend

compose
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

compose
  compose_front_deploy.sh
  compose_rep_deploy.sh
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: frontend

compose
  .gitlab-ci.yml.orig
  backend/.gitlab-ci.yml
  compose_back_deploy.sh
  compose_front_deploy.sh
  compose_rep_deploy.sh
  frontend/.gitlab-ci.yml
Due: frontend, backend

compose
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/Dockerfile
Due: backend

compose
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend/.gitlab-ci.yml
  compose_back_deploy.sh
  compose_front_deploy.sh
  compose_rep_deploy.sh
Due: backend

compose
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend/.gitlab-ci.yml
  compose_back_deploy.sh
Due: backend

compose
  backend-report/.gitlab-ci.yml
  compose_back_deploy.sh
  compose_rep_deploy.sh
  frontend/.gitlab-ci.yml
Due: frontend

compose
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
Due: none

compose
  backend-report/.gitlab-ci.yml
Due: none

compose
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  compose_rep_deploy.sh
Due: none

hmm
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile_
Due: none

compose
  backend-report/Dockerfile
  backend-report/pom.xml
  compose_rep_deploy.sh
Due: none

compose
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend/.gitlab-ci.yml
  compose_rep_deploy.sh
Due: backend
