Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*

front docker
  frontend/Dockerfile
Due: frontend

..
  frontend/Dockerfile
Due: frontend

docker-in-docker
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  frontend/.gitlab-ci.yml
  frontend/fronend_deploy.sh
Due: frontend, backend

rules
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

rules
  .gitlab-ci.yml
Due: none

hmm
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

module
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

depend
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

syntax
  frontend/.gitlab-ci.yml
Due: frontend

version env + include template
  backend/Dockerfile
  frontend/.gitlab-ci.yml
Due: frontend, backend

depend
  frontend/.gitlab-ci.yml
Due: frontend

sonar
  frontend/.gitlab-ci.yml
Due: frontend

sonar again
  frontend/.gitlab-ci.yml
Due: frontend

sonar sonar
  frontend/.gitlab-ci.yml
Due: frontend

ci_registry
  frontend/.gitlab-ci.yml
Due: frontend

ci
  frontend/.gitlab-ci.yml
Due: frontend

sonar fix
  frontend/.gitlab-ci.yml
Due: frontend

ci
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
Due: frontend

ci
  frontend/.gitlab-ci.yml
  frontend/Dockerfile.orig
  frontend/frontend_deploy.sh
Due: frontend

ci
  backend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
Due: frontend, backend

ci
  backend/backend_deploy.sh
  frontend/Dockerfile
Due: frontend, backend

mongo
  backend/backend_deploy.sh
Due: backend

mongo
  backend/src/main/resources/application.properties
Due: backend

mongo
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
Due: backend

flyway off
  backend/src/main/resources/application.properties
Due: backend

flyway
  backend/.gitlab-ci.yml
Due: backend

network
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

ci
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  backend/src/main/resources/application.properties
Due: backend

mongo
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
Due: backend

ci final
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
Due: backend
